@import "./style.scss";


.sidebar-container{
  // background-color: red;
  display: none;
}

.login-chooser {
  background-color: red;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}


.hide-on-narrow-window {
  display: none;
}

.right-preview-channel {
  width: 100vw;
  min-height: 10vh;

  display: none;
  // display: flex;
  // flex-flow: row wrap;
}

.right {
  background-color: $purple;
}


.bottom-preview-channel {
  display: flex;
  flex-flow: row wrap;
}

.main-channel {
  width: 100vw;
  min-height: 30vh;
}

.preview-channel {
  min-width: 50vw;
  height: 20vh;
  background-color: $preview_channel_bg_color;
}

.left {
  // background-color: green;
  background-color: $preview_bg_color;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  min-height: 30vh;
}

.test-style-haha {
  background-color: blue;
  display: none;
}

.video-body-height {
  height: 90vh !important;
}

.test {
  color: aqua;
  background-color: gold;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}