.bottom-channel-list {
  background-color: black;

  height: 40vh;
  width: 60vw;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  iframe {
    width: 20vw;
    height: 20vh;
  }

}
