.boxes {
  display: flex;
  flex-flow: row nowrap;

}

.box1 {
  background-color: gold;
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

.box1-placeholder {
  background-color: pink;
  width: 100px;
  height: 100px;
}

.box2 {
  background-color: green;
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

.box2-placeholder {
  background-color: aqua;
  width: 100px;
  height: 100px;
}

.box3 {
  background-color: red;
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

.box3-placeholder {
  background-color: blue;
  width: 100px;
  height: 100px;
}
